.lightBigText {
    -fx-font-size: 30;
    -fx-fill: #eeeeee;
}

.lightMediumText {
    -fx-font-size: 20;
    -fx-fill: #eeeeee;
}


.darkBackground {
    -fx-background-color:  #33333f;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-border-width: 3;
    -fx-border-color: #1a1a1a;
}