/*  BUTTONS  */

.darkButton {
    -fx-font-size: 23;
    -fx-background-color:  #222229;
    -fx-padding: 0;
    -fx-text-fill: #d0d0d0;
    -fx-fill: #d0d0d0;
    -jfx-button-type: RAISED;
    -fx-cursor: hand;
}

.darkButton:hover {
    -fx-background-color: #393940;
}

.lightSmallButton {
    -fx-font-size: 16;
    -jfx-button-type: RAISED;
    -fx-background-color: #cccccc;
    -fx-padding: 0;
    -fx-fill: #1a1a1a;
    -fx-text-fill: #1a1a1a;
    -fx-cursor: hand;
}

.lightSmallButton:hover {
    -fx-background-color: #efefef;
}

.lightButton {
    -fx-font-size: 23;
    -jfx-button-type: RAISED;
    -fx-background-color: #cccccc;
    -fx-padding: 0;
    -fx-fill: #1a1a1a;
    -fx-text-fill: #1a1a1a;
    -fx-cursor: hand;
}

.lightButton:hover {
    -fx-background-color: #efefef;
}

.darkSmallButton {
    -fx-background-color:  #222229;
    -fx-padding: 0;
    -fx-font-size: 12;
    -fx-text-fill: #d0d0d0;
    -jfx-button-type: RAISED;
    -fx-cursor: hand;
}

.darkSmallButton:hover {
    -fx-background-color: #393940;
}

/*  TEXT  */
.lightBigText {
    -fx-font-size: 30;
    -fx-fill: #eeeeee;
}

.lightMediumText {
    -fx-font-size: 20;
    -fx-fill: #eeeeee;
}

.lightSmallText {
    -fx-font-size: 12;
    -fx-fill: #eeeeee;
}


.mediumLinkText {
    -fx-font-size: 20;
    -fx-fill: #4a00d4;
    -fx-cursor: hand;
}

.mediumLinkText:hover {
    -fx-fill: #7f40ff;
}

.errorText{
    -fx-font-size: 30;
    -fx-fill: #ee3024;
    -fx-text-alignment: center;
}


/*  BACKGROUNDS  */

.customDarkBackground {
    -fx-background-color:  #33333f;
    -fx-border-width: 2;
    -fx-border-color: #1a1a1a;
}

.customLightBackground {
    -fx-background-color: #222229;
    -fx-background-radius: 5;
    -fx-border-width: 1.5 0 1.5 0;
    -fx-border-color: #55555f;
    /*-fx-border-color: #1a1a1a;*/
}

.darkBackground {
    /*-fx-background-color:  #33333f;*/

    -fx-background-color: #30303c;
}

.mediumBackground {
    -fx-background-color:  #44444f;
}

.lightBackground {
    -fx-background-color:  #55555f;
}

/* TABS */
.tab-header-area > .headers-region > .tab > .jfx-rippler > .tab-container > .tab-label > .text {
    -fx-fill: #eeeeee;
}

.tab-header-area > .tab-header-background {
    -fx-background-color: #3f4f69;
    -fx-border-width: 2 0 0 0;
    -fx-border-color: #22222f;
    -fx-padding: 0;
}

.tab-header-area > .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: #eeeeee;
    -fx-fill: #eeeeee;
    -fx-cursor: hand;
}

.tab-header-area > .headers-region > .tab-selected-line {
    -fx-background-color: #eeeeee;
    -fx-stroke: #eeeeee;
    -fx-cursor: hand;
}


/*  EXTRAS  */

.redSlider .thumb {
    -fx-background-color: #ff3333;
}

.greenSlider .thumb {
    -fx-background-color: #33ff33;
}

.blueSlider .thumb {
    -fx-background-color: #3333ff;
}

.hueSlider .thumb {
    -fx-background-color: #3f4f69;
}
.saturationSlider .thumb {
    -fx-background-color: #3f4f69;
}
.valueSlider .thumb{
    -fx-background-color: #3f4f69;
}

.valueSlider .track {
    /*-fx-background-color: linear-gradient(from 0% 50% to 150% 50%, #000000, #ffffff);*/
}

.handCursor {
    -fx-cursor: hand;
}

.mediumBackground:horizontal > .split-pane-divider {
    -fx-background-color: #44444f;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {

}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: #494953;
    -fx-text-fill: WHITE;
    -fx-font-size: 1em;
}

.list-cell:odd { /* <=== changed to even */
    -fx-background-color: #55555f;
    -fx-text-fill: WHITE;
    -fx-font-size: 1em;
}

.list-cell:filled:hover {
    -fx-text-fill: WHITE;
}

.jfx-popup {
    -fx-background-color: transparent;
}

/*--------------------------------------------------------------------------*/
/* SCROLLBAR CSS */
/*--------------------------------------------------------------------------*/

/*
Scrollbar is based on:  https://farrukhobaid.wordpress.com/2013/01/16/dark-scrollbar-skin-for-javafx/
 */

.list-view {
    -fx-background-color: #55555f;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

.scroll-bar{
    -fx-background-color: #55555f;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 0 0;
    -fx-background-insets: 0;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color: rgb(211,211,211);
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(211,211,211);
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgb(231,231,231);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgb(255,255,255);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-background-color: rgb(211,211,211);
    -fx-padding: 0.25em;
    -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}