/*  BUTTONS  */

.darkButton {
    -fx-font-size: 23;
    -fx-background-color:  #222229;
    -fx-padding: 0;
    -fx-text-fill: #d0d0d0;
    -fx-fill: #d0d0d0;
    -jfx-button-type: RAISED;
    -fx-cursor: hand;
}

.darkButton:hover {
    -fx-background-color: #393940;
}

.lightSmallButton {
    -fx-font-size: 16;
    -jfx-button-type: RAISED;
    -fx-background-color: #cccccc;
    -fx-padding: 0;
    -fx-fill: #1a1a1a;
    -fx-text-fill: #1a1a1a;
    -fx-cursor: hand;
}

.lightSmallButton:hover {
    -fx-background-color: #efefef;
}

.lightButton {
    -fx-font-size: 23;
    -jfx-button-type: RAISED;
    -fx-background-color: #cccccc;
    -fx-padding: 0;
    -fx-fill: #1a1a1a;
    -fx-text-fill: #1a1a1a;
    -fx-cursor: hand;
}

.lightButton:hover {
    -fx-background-color: #efefef;
}

.darkSmallButton {
    -fx-background-color:  #222229;
    -fx-padding: 0;
    -fx-font-size: 12;
    -fx-text-fill: #d0d0d0;
    -jfx-button-type: RAISED;
    -fx-cursor: hand;
}

.darkSmallButton:hover {
    -fx-background-color: #393940;
}

/*  TEXT  */
.lightBigText {
    -fx-font-size: 30;
    -fx-fill: #eeeeee;
}

.lightMediumText {
    -fx-font-size: 20;
    -fx-fill: #eeeeee;
}

.lightSmallText {
    -fx-font-size: 12;
    -fx-fill: #eeeeee;
}


.mediumLinkText {
    -fx-font-size: 20;
    -fx-fill: #4a00d4;
    -fx-cursor: hand;
}

.mediumLinkText:hover {
    -fx-fill: #7f40ff;
}

.errorText{
    -fx-font-size: 30;
    -fx-fill: #ee3024;
    -fx-text-alignment: center;
}


/*  BACKGROUNDS  */

.customDarkBackground {
    -fx-background-color:  #33333f;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-border-width: 3;
    -fx-border-color: #1a1a1a;
}

.customLightBackground {
    -fx-background-color: #222229;
    -fx-background-radius: 5;
    -fx-border-width: 1.5 0 1.5 0;
    -fx-border-color: #55555f;
    /*-fx-border-color: #1a1a1a;*/
}

.darkBackground {
    /*-fx-background-color:  #33333f;*/

    -fx-background-color: #30303c;
}

.mediumBackground {
    -fx-background-color:  #44444f;
}

.lightBackground {
    -fx-background-color:  #55555f;
}

/* TABS */
.tab-header-area > .headers-region > .tab > .jfx-rippler > .tab-container > .tab-label > .text {
    -fx-fill: #eeeeee;
}

.tab-header-area > .tab-header-background {
    -fx-background-color: #3f4f69;
    -fx-border-width: 2 0 0 0;
    -fx-border-color: #22222f;
    -fx-padding: 0;
}

.tab-header-area > .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: #eeeeee;
    -fx-fill: #eeeeee;
}

.tab-header-area > .headers-region > .tab-selected-line {
    -fx-background-color: #eeeeee;
    -fx-stroke: #eeeeee;
}


/*  EXTRAS  */

.handCursor {
    -fx-cursor: hand;
}